h1{
    color:red;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_clear{
    margin:30px;
}
.btn_newBoard{
    margin:30px;
}
.etch-a-sketch{
    border: 3px solid black;
    width:960px;
    height:960px;
    display: flex;
    flex-direction: column;
}
.in_container{
    margin:30px;
}